<div class="homepage-hero">
  <div class="row">
    <div class="hero__intro">
      <h1><%= _('Do you have questions for state institutions?') %></h1>
      <p><%= _('Use our form to enact Act no. 106/1999 Coll. By law every institution is obliged to respond.') %></p>
      <%= link_to select_authority_path, :class => "new-request__make-new-requests" do %>
        <%= _("Ask a question") %>
      <% end %>
    </div>
  </div>
</div>
