 <h2>
   Máte právo vědět
</h2>
<p>Každý občan má právo přístupu na přístup k informacím veřejných institucí. Podle zákona musí odpovědět. <a href="<%= help_requesting_url %>">Zjistěte víc o svobodném přístupu k informacím.</a></p>
