  <h1>POZOR!</h1>
  <h2>Stránky jsou ve výstavbě.</h2>
  <p>Prosím nepoužívejte je, pokud jste k tomu nebyli přímo vyzváni.</p>
  <p>Hotové stránky budou sloužit všem občanům, kteří se budou chtít na něco zeptat veřejných institucí podle zákona 106/1999 Sb. o svobodném přístupu k informacím.</p>
  <p>Napište na info@informaceprovsechny.cz pokud se chcete dozvědět více o projektu. Upozorníme vás až budou stránky hotové.</p>
