
    <div class="wrapper top-message">
        <p class="top-message__message-body"> <%= _('Do you want <strong>freedom of information for all?</strong>')%> <a class="top-message__action-button" href="http://www.infoprovsechny.cz/ipvtheme/podporte-nas/?source=hompage"><%= _('Donate') %></a></p>
    </div>

