$main_menu-mobile_menu_cutoff: 58em;
$row-width: 64em;
$body-font-family: "Helvetica Neue", Arial, Helvetica, Helmet, Freesans, sans-serif;
$base-font-size: 16px;

// Specify the filename and dimensions of your logo file here
$logo-filename: 'logo.png';
$logo-highdpi-filename: 'logo@2.png'; //Should be at least 2x the size, in the same proportions
$logo-width: 415px;
$logo-height: 81px;

$color_sand: #f4f4f4;
$color_black: #333333;
$color_orange: #F3A224;
$color_blue: #11457E;
$color_blue_dark: darken($color_blue, 5%);
$color_green: #2B9E00;
$color_yellow: #FFFDE8;
$color_red: #EC1C23;
$color_white: #ffffff;
$color_pro_blue: #5A7687;

$color_neutral_light: $color_white;
$color_neutral_dark: $color_black;
$color_primary: $color_blue_dark;
$color_secondary: $color_red;

$body-bg: $color_neutral_light;

$body-font-color: $color_neutral_dark;
$link-color: $color_blue;
$action-color: $color_green;
$font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$form_input-bg: $color_white;
$form-label-font-color: $color_black;

$button-bg: $color_red;
$button-color: $color_white;

$status-success: $color_green;
$status-failure: $color_red;
$status-pending: $color_orange;

$notice-color: $color_green;
$error-color: $color_red;
$action-color: $color_orange;

$banner_inner_bg: $color_primary;
$topnav_bg: darken($color_primary, 10%);
