<div id="right_column_flip">
    <h2>Help pages</h2>
    <ul class="no_bullets">
        <li><%= link_to_unless_current "Úvod", "/help/about" %></li>
        <li><%= link_to_unless_current "Vznesení dotazu", "/help/requesting" %></li>
        <li><%= link_to_unless_current "Vaše soukromí", "/help/privacy" %></li>
    </ul>

    <h2 id="contact">Kontaktujte nás</h2>
    <p>Pokud jste nenašli co jste hledali, nebo jen máte připomínky ke stránkám, <a href="/help/contact">kontaktujte&nbsp;nás</a>.
    </p>
</div>


