<% @title = "O nás" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1 id="introduction">Co jsou Informace pro všechny (IPV)<a href="#introduction">?</a> </h1> <p>This is a custom "about" page</p>
</div>


