<% @title = "Úvod" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="about"><%= @title %> <a href="#about">#</a> </h1>
  <p>Internetová služba, která vám z pohodlí vašeho domova či kanceláře pomůže zjistit, co dělají státní instituce.

  <dt id="purpose">Jak stránky fungují?<a href="#purpose">#</a></dt>
  <dd>
    <p>
      Vy vznesete dotaz, my zajistíme, aby byl doručen na adresu příslušné podatelny.</p>
    <ol>
    	<li>Nejdříve si vyberete, od které instituce chcete získat informace.</li>
    	<li>Svůj dotaz vznesete tak, že jej krátce a výstižně napíšete do předem připraveného formuláře.</li> 
    	<li>Odešlete na automaticky vloženou adresu podatelny příslušné instituce.</li>
    	<li>Reakce na váš dotaz jsou uveřejněny na IPV stránkách, kde je vidíte vy i ostatní uživatelé. Korespondenci s institucí můžete tak jednoduše sdílet a komentovat s ostatními uživateli IPV.</li>
    </ol>
    <p>
      Systém IPV vás sám upozorní, když instituce reaguje na vaši žádost. Také vám i úřadu včas připomene uplynutí zákonné lhůty. Na stránkách uživatelům nabídneme obecné rady jak postupovat ve složitějších případech, například když vám instituce odmítne částečně či úplně poskytnout požadované informace. Podrobnější informace o aplikaci zákona č. 106/1999 Sb. o svobodném přístupu k informacím (infozákon) naleznete také na stránkách projektu <a href="http://www.otevrete.cz/zadosti-o-informace/zadatel/">Otevřená společnost</a>.
    <p>
      Pro úspěšné vyřízení žádosti je třeba se na stránkách IPV <a href="http://www.informaceprovsechny.cz/profile/sign_in?r=%2Fhelp%2Fprivacy">zaregistrovat</a>. My v IPV vaše údaje dále nijak nepoužijeme. Infozákon pro případy, kdy by informace měla být bezproblémově a bezplatně poskytnuta, podrobnější údaje nevyžaduje, ale ne všechny úřady to respektují. Proto je vhodnější zadat jméno, adresu trvalého pobytu a datum narození žadatele. Tyto údaje uvidí pouze instituce, které pošlete vaši žádost a nebudou veřejně dostupné na stránkách IPV. V uveřejněné emailové korespondenci na stránkách IPV je systém automaticky smaže. Pokud je úřad vloží do PDF dokumentu, nemusí se nám podařit údaje včas zachytit a anonymizovat, proto nás prosím na takový případ bezodkladně upozorněte.
  </dd>

  <dt id="whybother_me">Proč bych se měl/a ptát?<a href="#whybother_me">#</a></dt>
  <dd>
    <p>Platíte daně a stát s takto získanými penězi nakládá. Financuje tak oblasti, které různými způsoby ovlivňují váš život, od zdravotní péče až po národní obranu. Některé instituce utrácejí peníze získané z daní lépe, jiné hůře. Čím více budete vědět o fungování vlády, o sestavování státního rozpočtu, o tom, jak se nakonec s těmito veřejnými prostředky nakládá, tím lépe můžete navrhovat zlepšení a ocenit ty, kteří naši zemi spravují dobře. Vy jako občan jste skutečným vlastníkem všech informací, které instituce shromáždily a vytvořily. Svobodný přístup k informacím je podmínkou svobodného rozhodování a demokracie.
  </dd>


  <dt id="bodies">Musí mi instituce odpovědět?<a href="#bodies">#</a></dt>
  <dd>
    <p>Každý má právo na informaci, pokud vznese dotaz podle <a href="http://portal.gov.cz/app/zakony/zakonPar.jsp?page=1&idBiblio=47807&nr=106~2F1999&rpp=15">zákona č. 106/1999 Sb.</a> o svobodném přístupu k informacím ve znění pozdějších předpisů u povinného subjektu. Těmi jsou zejména všechny státní orgány, orgány obcí, měst a krajů a také tzv. veřejné instituce, které nakládají s veřejnými prostředky jako jsou například školy včetně univerzit, Policie ČR či obecní (městská) policie, obchodní firmy ovládané státem nebo obcí, městem či krajem. Na řádně podanou žádost musí instituce reagovat. Odpověď bude obsahovat informace, které požadujete, nebo musí uvést zákonem stanovený právní důvod, proč vám požadované informace odmítne poskytnout.
  </dd>


  <dt id="who">Kdo stojí za IPV?<a href="#who">#</a></dt>
  <dd>
    <p>Informace pro všechny vybudovali zvědaví občané, kteří se chtějí podílet na vytváření informované aktivní společnosti. Svůj projekt jsme spustili s pomocí mezinárodního open-source platformy <a href="http://www.alaveteli.org/">Alaveteli</a>, která si vzala za cíl podporovat právo občanů na informace. První, velice úspěšný projekt by realizován ve <a href="http://www.whatdotheyknow.com/">Velké Británii</a>, podobné verze projektu existují celkem v 13 zemích. Do projektu metodicky přispěl partnerský vzdělávací projekt <a href="http://www.otevrete.cz/">Otevřete.cz</a>, v čele s Oldřichem Kužílkem a Janou Mravcovou. Projekt Informace pro všechny podpořil <a href="http://www.osf.cz/fond-otakara-motejla-rozvoj-pravniho-statu/fond-otakara-motejla">Fond Otakara Motejla</a> vytvořený <a href="http://www.osf.cz/">Nadací Open Society Fund</a> a je součástí platformy usilující o zlepšení fungování státu <a href="http://www.nasstat.cz/cze/">Náš stát</a>.
  </dd>


  <dt id="updates">Kde se dozvím více o IPV?<a href="#updates">#</a></dt>
  <dd>
    <p>Máme <a href="/blog">Blog</a>, Facebook a <a href="https://twitter.com/Infoprovsechny">Twitter</a>.
  </dd>
</div>
