<% @title = "O nás" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1 id="introduction">Co jsou Informace pro všechny (IPV)<a href="#introduction">?</a> </h1>
 Internetová služba, která vám z pohodlí vašeho domova či kanceláře pomůže zjistit, co dělají státní instituce.

 <dt>Jak stránky fungují?</dt>
 <p>Vy vznesete dotaz, my zajistíme, aby byl doručen na adresu příslušné podatelny. Nejdříve si vyberete, od které instituce chcete získat informace. Svůj dotaz vznesete tak, že jej krátce a výstižně napíšete do předem připraveného formuláře a odešlete. Reakce na váš dotaz jsou spolu s dotazem jsou uveřejněny na IPV stránkách, kde je vidíte vy i ostatní uživatelé.</p>
 </dd>

 <dt>Proč bych se měl/a ptát?</dt>
 <dd>
 <p>Platíte daně a stát s takto získanými penězi určitým způsobem nakládá. Financuje tak oblasti, které různými způsoby ovlivňují váš život, od zdravotní péče až po národní obranu. Některé instituce utrácejí peníze získané z daní lépe, jiné hůře. Čím více budete vědět o fungování vlády, o sestavování státního rozpočtu a jak se nakonec s těmito veřejnými prostředky nakládá, tím lépe můžete navrhovat zlepšení a ocenit ty, kteří naší zemi spravují dobře. Vy jako občan jste skutečným vlastníkem všech informací, které instituce shromáždily a vytvořily. Svobodný přístup k informacím je podmínkou svobodného rozhodování a demokracie. </p>
 </dd>

 <dt>Musí mi instituce odpovědět?</dt>
 <dd>
 <p>Každý má právo na informaci, pokud vznese dotaz (podle zákona č. 106/1999 Sb. o svobodném přístupu k informacím ve znění pozdějších předpisů) u organizace, která má charakter veřejné instituce. Takovými institucemi jsou zejména všechny státní orgány, orgány obcí a veřejné instituce, které nakládají s veřejnými prostředky jako jsou například školy včetně univerzit, Policie ČR či obecní (městská) policie. Na řádně podanou žádost musí instituce reagovat. Odpověď bude obsahovat informace, které požadujete, nebo poskytne platný právní důvod, proč musí být dané informace považovány za důvěrné.  </p>
 </dd>

 <dt>Kdo stojí za IPV?</dt>
 <dd>
 <p>Informace pro všechny vybudovali zvědaví občané, kteří se chtějí podílet na vytváření informované aktivní společnosti. Svůj projekt jsme spustili za metodického přispění www.otevrete.cz a obdoby internetových stránek www.whatdotheyknow.com, jejichž nápad se rozšířil do zatím osmi zemí světa</p>
 </dd>

 <p>Pokud se vám líbí, co děláme, pak můžete přispět ZDE.</p>

 <dt>Kde se dozvím více o IPV?</dt>
 Máme Blog, Facebook a Twitter.
</div>


