<% @title = "O nás" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<p>
  Všechno to začalo, když jsem ukázal webové stránky WhatDoTheyKnow v UK mému známému a “aktivnímu občanovi”, Martinovi Charvátovi. Ale protože nemáme technické znalosti, zůstalo to na několik měsíců jen předmětem diskuze u piva.

 <p> Pak se k nám přidal IT specialista Jan Froněk a pomohl nám s prvními technickými kroky. Příchodem Hany Huntové jsme získali odborníka na komunikaci a projektové řízení. Tento náš tým vytvořil a zaregistroval občanské sdružení Informace Pro všechny o.s. a navázal kontakty s Nadací Open Society Fund v Praze a Alaveteli ve Velké Británii.

<p>  Ale potřebovali jsme specialistu na framework Ruby on Rails. Díky doporučení od vstřícných lidí ve společnosti Google jsme do týmu získali Josefa Pospíš
la. Přestože využíváme platformu Alaveteli, český zákon o svobodě informací nám způsobil určité technické obtíže, se kterými se Josef vypořádal za použití svých značných schopností a téměř všeho svého volného času.
<p>  Josefa velmi zručně podpořil David Nevařil, který se postaral o kódování. David také vytvořil naše logo a grafický design webu.
<p>  Právník Ota Klekner, Davidův kamarád, odvedl spoustu práce, díky které jsou webové stránky v souladu se zákonem. A my budeme i nadále spoléhat na jeho zkušenosti, až web začne přinášet stale více a více zajímavých otázek. Souhrou náhod pocházejí Josef, David a Ota všichni z Liberce. Jsou to naši bílí tygři.
<p>  Jana Kneschke přispěla svými briliantními schopnostmi profesionálního copywritingu a výrazně tak zlepšila znění textu internetových stránek.
  Hana vedla úspěšnou žádost o grant od Nadace Open Society Fund. Děkujeme lidem z této nadace za důvěru v nás a v náš projekt. Hana také navázala a vytvořila náš vztah s otevrete.cz, je skvělé mít k dispozici jejich odborné znalosti. Další významnou dotaci jsme dostali od mých klientů, reklamní agentury RMP, kteř
 byli velmi laskaví a poskytli dar v době, kdy byl web především stále ještě předmětem hovoru v hospodě.
<p>  Spoustu cenných rad a podpory se nám dostalo od Alaveteli ve Velké Británii a také od jiných lidí, kteří používají internetové stránky v dalších zemích. Jsme součástí mezinárodního hnutí.
<p>  A já? Já platím pivo :-)
<p>  Je víc dalších lidí, kteří jsou připraveni se k nám připojit, aby nám pomohli s reklamní kampaní a správou webových stránkek. Všichni jsou to obyčejní č
ští občané, kteří chtějí udělat něco pozitivního, aby naše společnost fungovala lépe. Jsem opravdu hrdý na jejich práci a skláním se před nimi s pokorným pocitem, že bez jejich úžasné práce by můj sen přinést do ČR tento skvělý britský nápad zůstal jen snem. Díky, týme!
<p>  Richard Hunt
</div>

<div id="hash_link_padding"></div>


</div>