<% @title = "Informace pro povinné subjekty podle zákona 106/1999 Sb. o svobodném přístupu k informacím." %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

<dl>

  <dt id="top">Po kliknutí na odkaz v žádosti jsem se ocitnul/a zde, kde to jsem?<a href="#top">#</a></dt>
  <dd>
    <p>
      Informace pro všechny je občanským sdružením, které pomocí těchto stránek pomáhá občanům správně a efektivně položit dotaz podle zákona 106/1999 Sb. o svobodném přístupu k informacím. Služba také uveřejňuje dotazy a odpovědi na ně na těchto stránkách. Informace se tak stávají snadno vyhledatelnými a  mohou se dále sdílet.
    </p>
    <p>
      Žádost, kterou jste obdrželi byla vytvořena někým, kdo k položení dotazu použil stránek Informace pro všechny. Na tuto žádost prosím odpovězte pokud možno elektronickou cestou a to tím, že v těle e-mailové žádosti kliknete na unikátní odkaz a odpovíte přímo na stránkách IPV. Vaše odpověď bude uveřejněna a žadateli bude automaticky odeslán e-mail s upozorněním na vaši odpověď. Systém umožňuje do těla odpovědi vložit i přílohy.
   </p>
  </dd>


  <dt id="questions">Pokud máte nějaké otázky či pochybnosti<a href="#questions">#</a></dt>
  <dd>
    <p>Přečtěte si níže uvedené podrobnosti. Můžete si také přečíst celou naši <a href="http://www.informaceprovsechny.cz/help/about">Nápovědu</a>, kde se dozvíte jak naše stránky fungují z pohledu žadatele. Na stránkách IPV si také můžete vyhledat i instituci, ve které pracujete a podívat se, jaké dotazy již byly vzneseny.

  </dd>

  <dt id="responses">Proč uveřejňujete odpovědi na žádosti?<a href="#responses">#</a></dt>
  <dd>
    <p>Chceme podpořit veřejnost, aby se více zajímala a zapojila do řízení věcí veřejných. Snažíme se vám práci ulehčit, nikoliv komplikovat. Věříme, že otevřený dialog s občany a transparentní jednání pracovníků státní správy vede k lepší správě věcí veřejných a tím i k lepší atmosféře ve společnosti. Dobré a uspokojivé odpovědi budou moci žadatelé na stránkách označit a mohou tak přispět k veřejnému ocenění vaší práce. Doufáme také, že naše stránky napomohou snížit počet duplicitních žádostí a lepší informovanosti o aktivitách, které státní správa ve jméně svých občanů realizuje.

  </dd>


  <dt id="realpeople">Jsou žadatelé vznášející dotazy skuteční, nebo virtuální?<a href="#realpeople">#</a></dt>
  <dd>
    <p>Jsou skuteční. Aby mohli vznést dotaz, musí se zaregistrovat a uvést své osobní údaje. Emailová adresa nově registrovaného uživatele je ověřena dvoustupňovou registrací. Jsme si jisti, že se tímto identifikují stejně spolehlivě, jako kdyby vznesli dotaz jakýmkoliv jiným zákonným způsobem. Můžete se podívat na našich stránkách jaké další dotazy tento žadatel vznesl.

  </dd>



  <dt id="vexatious">Nebudete nám klást spoustu neodůvodněných zbytečných žádostí?<a href="#vexatious">#</a></dt>
  <dd>
    <p>Služba Informace pro všechny jako taková žádné dotazy nevznáší. Pouze řádně zaregistrovaní uživatelé našich stránek mohou vznést legitimní žádosti, naše stránky jsou pouze služba, kterou uživatelé takto využili.  Představte si, že je to obdobné jako když uživatelé využijí svého e-mailového účtu na serveru Seznam nebo Google ke korespondenci s vámi. Navíc vzhledem k tomu, že všechny dotazy a odpovědi jsou uveřejněny je pro všechny lehčí zjistit, zda existují uživatelé, kteří kladou zbytečné žádosti.

  </dd>



  <dt id="spam_problems">Vidím žádost na stránkách IPV e-mailem jsme ji však nikdy neobdrželi!<a href="#spam_problems">#</a></dt>
  <dd>
    <p>Pokud se žádost objeví na našich stránkách znamená to, že se náš systém pokusil odeslat žádosti e-mailem. Když se nepodaří žádost doručit, systém tuto skutečnost automaticky zaznamená na stránkách. Můžete zkontrolovat adresu vaší podatelny uloženou na našich stránkách u profilu vaší instituce. Pokud je adresa chybná, prosím <a href="/help/contact">KONTAKUJTE</a> nás. Žádosti mohou být také zachyceny vašimi spamovými filtry. Prosím požádejte vašeho administrátora, aby se ujistil, že emaily z @informaceprovsechny.cz jsou doručeny do vaší podatelny.  Na žádost můžete také odpovědět přímo z našich stránek, stačí použít linku „Odpovědět na dotaz“ pod příslušnou žádostí.

  </dd>




  <dt id="days">Jak se vypočítává lhůta na poskytnutí informace?<a href="#days">#</a></dt>
  <dd>
    <p>Budeme rádi když instituce odpoví žadateli bez zbytečných průtahů. Náš systém si dobře pamatuje den odeslání žádosti. Je nastaven tak, že těsně před uplynutím patnáctidenní zákonné lhůty na vypracování odpovědi uživateli připomene emailem, že by měl každou chvíli očekávat vaši odpověď. Žadatel je vyzýván k vyznačení změny stavu žádosti pokud instituce po žadateli požaduje nějaké doplnění informací, nebo požádá o prodloužení lhůty v případě, že se jedná o rozsáhlejší žádost. Systém v těchto případech lhůtu prodlouží.

  </dd>




  <dt id="large_file">Jak mohu odeslat velký soubor?<a href="#large_file">#</a></dt>
  <dd>
    <p>Vypracujte odpověď přímo na stránkách IPV, zde je možné soubor přímo vložit. Stačí na stránkách vyhledat příslušnou žádost, a kliknout na odkaz „Odpovědět na dotaz“.

  </dd>


  <dt id="names">Proč uveřejňujete jména úředníků a texty e-mailů?<a href="#names">#</a></dt>
  <dd>
    <p>Jsme přesvědčeni, že jména pracovníků ve veřejném sektoru a jejich práce jsou veřejná informace. Obsah uveřejněný na našich stránkách odstraníme jen ve výjimečných případech. Přečtěte si naše Pravidla uveřejnění.

  </dd>


  <dt id="mobiles">Uveřejňujete e-mailové adresy a telefonní čísla?<a href="#mobiles">#</a></dt>
  <dd>
    <p>
      Abychom předešli spamování, odstraňujeme většinu e-mailových adres a telefonních čísel. Prosím <a href="/help/contact">KONTAKUJTE</a> nás pokud nám něco uniklo.

  </dd>

  <dt id="about">Pokud jste tak ještě neučinili, prosím přečtěte si naši <a href="http://informaceprovsechny.cz/help/about">Nápovědu.</a><a href="#about">#</a></dt>
  <dd>
    <p>Stránky byly vytvořeny s metodickou pomocí organizace Otevřená společnost, o.p.s. a jejich projektu <a href="http://www.otevrete.cz">www.otevrete.cz</a>. Projekt Informace pro všechny byl podpořen <a href="http://www.osf.cz/fond-otakara-motejla-rozvoj-pravniho-statu/fond-otakara-motejla">Fond Otakara Motejla</a> vytvořeného <a href="http://www.osf.cz/">Nadací Open Society Fund</a> a je součástí platformy usilující o zlepšení fungování státu <a href="http://www.nasstat.cz/cze/">Náš stát</a>.
      <p>
        Pokud máte nějaký komentář či návrhy týkající se našich stránkách, <a href="/help/contact">KONTAKUJTE</a> nás.
  </dd>
</dl>


<div id="hash_link_padding"></div>


</div>
