<% @title = "Vaše soukromí" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>

<dl>

<dt id="email_address">Kdo uvidí moji e-mailovou adresu?<a href="#email_address">#</a> </dt>

<dd>
  <p>Nepředáme vaši vaši e-mailovou adresu žádným třetím stranám, pokud se nejedná o případ, kdy jsme tento údaj povinni poskytnout podle zákona. Instituce uvidí  pouze e-mailovou adresu @ informaceprovsechny.cz, ze které jim přijde váš dotaz</p>
</dd>

<dt id="nasty_spam">Budete spamovat moji e-mailovou adresu nevyžádanými zprávami?<a href="#nasty_spam">#</a> </dt>
<dd>
  <p>Ne. Poté, co se přihlásíte na stránku IPV, budete od IPV dostávat pouze e-maily týkající se registrace, vzneseného dotazu, nebo z jiných důvodů, které výslovně povolují Podmínky IPV. Vaše e-mailová adresa ani ostatní údaje nebudou nikdy ptřetím stranám. Jedinou výjimkou je poskytování informací podle zákona XXX, týkající se trestných činů</p>
</dd>

<dt id="public_request">Proč se mé jméno spolu s mým dotazem objeví na stránkách IPV?<a href="#public_request">#</a> </dt>

<dd>
  <p>Stránky IPV slouží veřejnosti. Dotaz, který jste prostřednictvím stránek IPV vznesli, se automatický stává součástí archivu stránek IPV. ve kterém mohou vyhledávat i ostatní</p>
  <p>Stejně jako uveřejníme jméno úředníka, který vám odpověděl, uveřejníme i jméno vaše. Je to fér. Uvedení jména také pomáhá v případě občanských aktivit a sdružení při organizování různých akcí. Nicméně - existují i alternativy a vaše civilní jméno tudíž nemusí být na stránkách IPV uvedeno</p>
</dd>

<dt id="real_name">Mohu vznést dotaz pod pseudonymem?<a href="#real_name">#</a> </dt>


<dd>
  <p>Pro vznesení dotazu byste měli použít své skutečné, občanské jméno. Jedině tak bude váš dotaz právně platný</p>
  <p>Nicméně je možné použít psedonym. berte ale v úvahu, že instituce můež zodpovězení vašeho dotazu zamítnout s ohledem na užití pseudonymu</p>
  <p>Pokud se rozhodnete použít pseudonym, pak doporčujeme použít jinouv ariantu svého jména. Místo "Petra Nováková" tak můžete uvést pouze "PN", "paní Nováková" či "Petra z Litomyšle". Jako žena také můžete použít svoje rodné příjmení. Můžete použít jméno, pod kterým jste také dobře známi. Můžete také použít jméno své firmy. Stejně se tak můžete někoho zeptat, zda by nechtěl vznést dotaz vaším jménem</p>
  <p>Rozhodně se ale nesnažte vydávat za někoho jiného</p>
</dd>

<dt id="full_address">Proč chcete znát mé trvalé bydliště a datum narození?<a href="#full_address">#</a> </dt>

<dd>
  <p>Podle zákona XXX je nutné, abychom tyto informace měli. Ve většině případů ale instituce nevyžadují více než vaše jméno</p>
  <p>Zároveň vás chceme ujistit, že informace o vašem bydlišti a datu narození nebudou na stránkách IPV nikdy zveřejněny a nakládáme s nimi jako s důvěrnými informacemi a chráníme je proti zneužití</p>
</dd>

<dt id="postal_answer">Co když instituce vyžaduje poštovní adresy pro zaslání odpovědi?<a href="#postal_answer">#</a> </dt>

<dd>
  <p>Pokud instituce má k dispozici pouze papírovou kopii informací, které chcete, může vás požádat o poštovní adresu. Pak máte 4 možnosti</p>
  <ul>
    <li>nabídnout úřadu skener jako dar, "který máte a již nepotřebujete" (často se pak najde jeden na úřadě)</li>
    <li>do dotazu napsat, že odpovědi přijímáte pouze v elektrinické formě </li>
    <li>udat korespondenční adresu</li>
    <li>udat P.O. box</li>
  </ul>
</dd>

<dt id="delete_requests">Můžete odstranit můj dotaz, nebo změnit mé jméno?<a href="#delete_requests">#</a> </dt>

<dd>
  <p>IIPV je veřejný a trvalý arhiv dotazů vznesených veřejností na instituce. Váš dotaz a odpověď na něj může pomoci jiným lidem, proto se stane součástí archivu</p>
  <p>Ve výjimečných případech můžeme změnit nebo odstranit vaše jméno. V takovém případě nás <a href="/help/contact">KONTAKTUJTE</a></p>
</dd>

<dt id="ipv_vs_private">Jak IPV zachází s osobními údaji?<a href="#ipv_vs_private">#</a></dt>
<dd>
  <p>Pokud na stránkách IPV uvidíte informace, které jsou podle vás citlivé a důvěrné, upozorněte nás</p>
  <p>Zároveň si myslíme, že je ve veřejném zájmu zachovat nejen odpovědi, ale i jména úředníků a zaměstnanců institucí. Tyto informace jsou odstraněny pouze v moment, kdy by mohly ohrozit bezpečnost jmenovaných lidí. To se týká i příloh např. ve formátu pdf, do kterých nelze zasahovat. Pak je nutné požádat danou instituci, aby dotčené údaje z dokumentu odstranila</p>
</dd>

</dl>

<p><strong>Learn more</strong> from the help for <a href="/help/officers">FOI officers</a> --&gt;

<div id="hash_link_padding"></div>


</div>
