<% @title = "Vaše soukromí" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>

<dl>


  <dt id="registration">Musím se u vás zaregistrovat?<a href="#registration">#</a> </dt>

  <dd>
    <p>Pro úspěšné vyřízení vaší žádosti je registrace nutná. Podle § 14 čl. 2 zákona 106/1999 Sb. o svobodném přístupu k informacím musí vaše žádost obsahovat vaše jméno, adresu a datum narození, bez těchto náležitostí ji instituce nemusí akceptovat (tato podmínka je mimochodem podivné české specifikum, v ostatních zemích tyto údaje nevyžadují). Do žádosti tyto informace znovu nevyplňujte, údaje jsou doplněny do e-mailu odesílaného instituci automaticky z registrace na stránkách IPV. Při publikování textu žádosti na stránkách IPV systém tyto údaje rozpozná a smaže. Vaše osobní informace jsou tímto chráněny a nebudou veřejně dostupné. Zároveň vás chceme ujistit, že informace z registrace o vašem bydlišti a datu narození nebudou na stránkách IPV nikdy zveřejněny a nakládáme s nimi jako s důvěrnými informacemi a chráníme je proti zneužití</p>
  </dd>


<dt id="email_address">Kdo uvidí moji e-mailovou adresu?<a href="#email_address">#</a> </dt>

<dd>
  <p>Nepředáme vaši e-mailovou adresu (ani další osobní údaje) žádným třetím stranám, pokud se nejedná o případ, kdy jsme tento údaj povinni poskytnout podle zákona. Instituce uvidí pouze e-mailovou adresu informaceprovsechny.cz, ze které jim přijde váš dotaz. Instituce odpoví na váš dotaz přes stránky IPV. Náš systém vás na aktivitu instituce automaticky upozorní tím, že vám pošle e-mail na adresu, kterou jste si u nás zaregistrovali.</p>
</dd>

<dt id="nasty_spam">Budete spamovat moji e-mailovou adresu nevyžádanými zprávami?<a href="#nasty_spam">#</a> </dt>
<dd>
  <p>Ne. Poté, co se přihlásíte na stránku IPV, budete od IPV dostávat pouze e-maily týkající se registrace, vzneseného dotazu, nebo z jiných důvodů, které výslovně povolují Podmínky IPV. Vaše e-mailová adresa ani ostatní údaje nebudou nikdy předány třetím stranám, pokud nebudeme tento údaj povinni poskytnout ze zákonných důvodů.</p>
</dd>

<dt id="public_request">Proč se mé jméno spolu s mým dotazem objeví na stránkách IPV?<a href="#public_request">#</a> </dt>

<dd>
  <p>Stránky IPV slouží veřejnosti. Dotaz, který jste prostřednictvím stránek IPV vznesli, se automatický stává součástí archivu stránek IPV, ve kterém mohou vyhledávat i ostatní. Snažíme se hrát fér: stejně jako uveřejníme jméno úředníka, který vám odpověděl, uveřejníme i jméno vaše. </p>
</dd>

<dt id="real_name">Mohu vznést dotaz pod pseudonymem?<a href="#real_name">#</a> </dt>


<dd>
  <p>Pro vznesení dotazu byste měli použít své skutečné, občanské jméno. Jedině tak bude váš dotaz právně platný a instituce vám nemusí odpovědět. Dotaz můžete po registraci položit také jako právnická osoba (v registraci uvedete název, identifikační číslo osoby a adresu sídla). Můžete někoho zeptat, zda by nechtěl vznést dotaz vaším jménem. </p>
</dd>

<dt id="postal_answer">Co když instituce vyžaduje poštovní adresy pro zaslání odpovědi?<a href="#postal_answer">#</a> </dt>

<dd>
 <p> Pokud instituce má k dispozici pouze papírovou kopii informací, které chcete, může vás informovat, že vám chce poslat informace poštou. Máte pak několik možností:
  </p>
  <ul>
    <li>
      V reakci na korespondenci s úřadem napsat, že odpovědi přijímáte pouze v elektronické formě a trváte na odpovědi uveřejněné přes stránky IPV, je to pro obě strany výhodnější.
    </li>
    <li>
  Potvrdit korespondenční adresu, nechat si informace poslat poštou a zajímavé údaje vložit na stránky IPV sami.
    </li>
    <li>
  nabídnout úřadu skener jako dar, "který máte a již nepotřebujete" (často se pak najde jeden na úřadě)
    </li>
  </ul>
</dd>


<dt id="delete_requests">Můžete odstranit můj dotaz, nebo změnit mé jméno?<a href="#delete_requests">#</a> </dt>

<dd>
  <p>IPV je veřejný a trvalý archiv dotazů vznesených veřejností na instituce. Váš dotaz a odpověď na něj může pomoci jiným lidem, proto se stane součástí archivu.</p>
  <p>Ve výjimečných případech můžeme změnit nebo odstranit vaše jméno. V takovém případě nás <a href="/help/contact">KONTAKTUJTE</a></p>
</dd>


<dt id="takedown">Jak zabránit zveřejnění osobních údajů?<a href="#takedown">#</a></dt>
<dd>
  <p>
Pokud jste tazatelem, registrovaným na stránkách IPV, pak je nejdůležitější neuvádět své jméno, příjmení, poštovní adresu, osobní e-mail, telefonní číslo a další, podobně citlivé osobní údaje do těla vzneseného dotazu. Vzhledem k tomu, že systém umožňuje vznášet dotaz jen registrovaným uživatelům, vaše osobní údaje budou v dotazu zahrnuty, ale tak, aby je viděla pouze dotazovaná instituce a nebyly zveřejněny na stránkách IPV.
 </p>
 <p><strong>
   Jelikož není v našich možnostech upravovat všechny přílohy dotazů či odpovědí (a to zejména formáty PDF), chtěli bychom zároveň požádat úředníky a instituce, aby do příloh uváděli pouze jméno a příjmení tazatele a e-mailovou adresu, končící na @infoprovsechny.cz, což podle zákona 106/2000 Sb. pro identifikaci uživatele k odpovědi na vznesený dotaz postačuje. Děkujeme.
    </strong>
  </p>
  <p>
    Pokud i přesto na stránkách IPV najdete zveřejněné své osobní informace, které chcete odstranit nebo skrýt, kontaktujte nás. Ve své zprávě přesně uveďte, který údaj chcete odstranit a z kterého místa na stránkách IPV.
    </p>
    <p>
      Pokud jsou osobní údaje náhodou zveřejněny, snažíme se je skrýt nebo smazat. Běžně odstraňujeme jen ty osobní informace, na které upozorní samotný uživatel, jehož se to týká, ale u velmi citlivých údajů jsme rádi za každé upozornění.
      </p>
    <p>
      Zároveň je ve veřejném zájmu zachovávat jména úředníků a pracovníků veřejných institucí a úřadů – výjimkou jsou pouze případy, kdy by takové zveřejnění vážně ohrozilo jejich osobní bezpečnost. Pokud se domníváte, že jste v takové situaci, je nutné, aby o odstranění údajů požádal váš nadřízený. Ze zprávy musí být jasné, že vám hrozící riziko je větší než veřejný zájem a zároveň je nutné doložit, že samotný úřad poskytl kroky ke skrytí takových osobních údajů na svých internetových stránkách.
    </p>
    <p>
      Na všechny žádosti o odstranění osobních informací uplatňujeme měřítko veřejného zájmu.
    </p>
</dd>


</dl>

<p><strong>Více informací</strong> naleznete zde <a href="/help/officers">Odpovídající instituce</a> --&gt;

<div id="hash_link_padding"></div>


</div>
