<% @title = "Vznesení dotazu" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a> </h1>
<dl>

<dt id="which_authority">Jak zjistím, koho se zeptat?<a href="#which_authority">#</a> </dt>

<dd>
  <p>Zorientovat se ve složité struktuře státních institucí a najít tu správnou, která vám poskytne požadované informace, může být často obtížné.</p>

  <ul>
    <li>Projděte si již jednou vznesené dotazy ostatních uživatelů na stránkách IPV vyhledáváním klíčových slov ve formuláři nebo po rozkliknutí "všechny dotazy" pomocí fulltextového hledání (CTRL+F, respektive ⌘ + F). Podobný dotaz totiž může být již zodpovězený.</li>

    <li>Informace o tom, co hledáte mohla již instituce uveřejnit na svých internetových stránkách v sekci povinné informace. Podívejte se jak své informace uveřejňuje <a href="http://www.mestocernosice.cz/mesto/mestsky-urad/zakladni-a-povinne-udaje/">obec Černošice</a>, vítěz hlavní ceny 10. ročníku celorepublikového projektu Otevřeno x zavřeno - za otevřenost veřejné správy. Podobné informace musí podle vyhlášky ministerstva informatiky zveřejnit jakákoliv instituce, která je povinným subjektem podle zákona 106/1999 Sb.</li>
    <li>Pokud váš dotaz ještě nebyl vznesen nebo není zodpovězený, přejděte na odkaz "vznést dotaz".</li>
    <li>Vyberte instituci ze seznamu. Automaticky se zobrazí také odkaz stránky instituce, kde naleznete povinně uveřejňované informace podle zákona č. 106/1999 Sb. ve znění pozdějších předpisů. Ověřte si působnost dané instituce na jejích stránkách. Zda vámi požadovaný typ informace poskytnou můžete ověřit i telefonicky. Pokud použijete náš formulář, systém automaticky předvyplní povinnou že se jedná o žádost podle zákona č. 106/1999 Sb. ve znění pozdějších předpisů.</li>
    <li>Nebojte se vznést dotaz, i když si nejste úplně jisti. Pokud se nestrefíte na správnou instituci, měli by vám poradit, která jiná instituce má danou problematiku v působnosti a doporučit, kam se s dotazem obrátit.
    </li>
   <li>Pokud si ani teď nejste jisti, <a href="/help/contact">KONTAKUJTE</a> nás.</li>
  </ul>

</dd>



<dt id="missing_body">V IPV seznamu nemohu najít instituci, které chci poslat svou žádost.<a href="#missing_body">#</a> </dt>

<dd>

  <p><a href="/help/contact">KONTAKTUJTE</a> nás a pokud možno uveďte celý název instituce, adresu jejího sídla a e-mailovou adresu. Co nejdříve ji vložíme do seznamu institucí, který neustále rozšiřujeme.</p>
  <p>
  Pokud nám chcete pomoci s vkládáním adres a zpřesňování naší databáze, <a href="/help/contact">KONTAKTUJTE</a> nás.
  </p>
</dd>


<dt id="how_to_get_response">Jak vznést dotaz, aby byl zodpovězen?<a href="#how_to_get_response">#</a></dt>
<dd>
<ul>
  <li>Uveďte ve svém požadavku pouze to, co je skutečně potřeba, aby pracovník dané instituce mohl rychle zjistit, o jaké informace žádáte.
  </li>
  <li>
  Systém sám doplní, že se jedná o dotaz podle zákona č. 106/1999 Sb. ve znění pozdějších předpisů.
  </li>
  <li>
  Svou žádost pokud možno formulujte stručně a v bodech.
  </li>
  <li>
  Vaše žádost musí obsahovat vaše jméno, adresu a datum narození. Do žádosti tyto informace nevyplňujte, systém tyto údaje vyplní za vás z uložených informací z registrace. Žádost s vašimi osobními údaji bude odeslána příslušné instituci, ale na našich stránkách se veřejně neobjeví.
  </li>
  <li>
  Pokud máte více dotazů, rozdělte je do více žádostí, lépe se tak budou zpracovávat.
  </li>
</ul>
</dd>

<dt id="things_to_avoid">Čeho se vyvarovat<a href="#things_to_avoid">#</a></dt>

<dd>
<ul>
  <li>
    Argumentů o své způsobilosti a zdůvodnění, proč a na co informace potřebujete.
  </li>
  <li>
    Urážlivých výroků či tvrzení, která by mohla být považována za pomluvu (myslete na to, že i na druhé straně vám odpovídá člověk, i když pod hlavičkou instituce). Pokud do své žádosti uvedete urážlivé výroky, vaše žádost bude ze stránek IPV smazána.
  </li>
  <li>
    Nepleťte si žádost se stížností. Stránky IPV jsou určeny pro všechny, kteří se chtějí něco od institucí dozvědět. Stěžovat si můžete například svým voleným zástupcům na <a href="http://napistejim.cz">http://napistejim.cz</a>.
  </li>
  <li>
    Pamatujte také na to, že IPV zde není pro popularizaci vašich myšlenek, či pro propagaci politické či občanské kampaně. Na tu si založte vlastní blog, nebo se realizujte na některé ze sociálních sítí. Vývoj korespondence s institucí i korespondenci ostatních tazatelů můžete také komentovat na IPV stránkách v poznámkách pod každým položeným dotazem.
  </li>
  <li>
    Stránky IPV umožní jednomu uživateli položit jistý omezený počet dotazů za den. Pokud uživatel překročí tento limit, bude jeho účet automaticky pozastaven. Kontaktujte administrátora IPV pokud se domníváte, že máte dobrý důvod položit vyšší počet dotazů.
  </li>
</ul>
</dd>

<dt id="fees">Placení za dotaz<a href="#fees">#</a></dt>

<dd>
<ul>
  <li>
    Zodpovězení vzneseného dotazu je téměř vždy zdarma. Instituce má podle zákona právo účtovat si poplatek jen za tzv. „materiálové“ náklady, které při zaslání informací elektronický odpadají (např. kopírování papírových dokumentů, dále poštovné při zaslání požadované informace apod.). Instituce nemá právo účtovat si poplatek za čas strávený při zodpovídání vašeho dotazu, pouze při mimořádně rozsáhlých žádostech lze požadovat úhradu (cena za hodinu práce by se měla pohybovat okolo 100 Kč). Poplatek lze vybírat i na dobírku. Pokud si myslíte, že účtovaný poplatek je protiprávní, požádejte o radu naši partnerskou organizaci <a href="http://www.otevrete.cz">www.otevrete.cz</a>
    </li>
    <li>
    Instituce je povinna oznámit žadateli písemnou formou výši poplatku za poskytnutí požadované informace před samotným poskytnutím dané informace. Neučiní-li tak, ztrácí instituce nárok na úhradu nákladů. Pokud vám instituce oznámí, že může požadovat nějaký poplatek za zodpovězení vašeho dotazu, ale není uvedena jeho výše ani způsob zaplacení, můžete tuto informaci ignorovat – nejedná se totiž o informování žadatele podle zákona. Instituce nemá právo požadovat zálohu na vypracování odpovědi.
  </li>
</ul>
</dd>


<dt id="timing">Jak rychle bude můj dotaz zodpovězen?<a href="#timing">#</a></dt>

<dd>
<ul>
  <li>Podle zákona musí instituce odpovědět na váš dotaz co nejdříve, nejdéle však do 15 kalendářních dní. Před vypršením zákonné lhůty vám ze stránek přijde e-mail s připomínkou uplynutí zákonné lhůty. Můžete tak svou žádost instituci včas připomenout a v případě prodlevy podat stížnost. Přečtěte si více v „Co mám dělat, když mi instituce neodpověděla v zákonné lhůtě?“.
  </li>
  <li>
  Instituce může lhůtu prodloužit o 10 dní s odvoláním na zákon č. 106/1999 Sb. ve znění pozdějších předpisů.
  </li>
  <li>
  Pokud instituce bude požadovat doplnění či vyjasnění vaší žádosti, musí tak učinit do 7 pracovních dní. Žadatel má 30 kalendářních dní vyjasnění svého dotazu. Lhůta odpovědi na dotaz pak běží znovu od data vašeho dotazu.
  </li>
</ul>
</dd>



<dt id="responses">Jak zjistím, že mi instituce odpověděla?<a href="#responses">#</a></dt>

<dd>
<ul>
  <li>Obdržíte zprávu na svou e-mailovou adresu, kterou jste uvedli při registraci na stránkách IPV. Odpověď bude zároveň publikována na stránkách IPV.
  </li>
</ul>
</dd>



<dt id="editing">Mohu upravovat publikované odpovědi na svůj dotaz?<a href="#editing">#</a></dt>

<dd>
<ul>
  <li>Nikoliv, odpovědi institucí se na stránkách IPV objevují automaticky a zůstávají k dispozici k nahlédnutí pro další uživatele.
  </li>
</ul>
</dd>


<dt id="delays">Co mám dělat když instituce neodpověděla v zákonné lhůtě?<a href="#delays">#</a></dt>

<dd>
<ul>
  <li>
    Zkontrolujte si e-mailové zprávy označené jako spam, možná vaši odpověď zachytil spamový filtr.
  </li>
  <li>
    Spam filtry mohou blokovat vaši zprávu i na straně instituce. V takovém případě by vám pracovníci úřadu měli poradit, jakým způsobem dotaz vznést tak, aby byl v pořádku doručen. Pokuste se zjistit, zda instituce dotaz neobdržela vzhledem k technické závadě. Zatelefonujte a slušně se zeptejte, zda váš dotaz obdrželi.
  </li>
  <li>
    Instituce vyžaduje doplnění dotazu – v takovém případě vás o tom informovala a čeká na vaši odpověď.
  </li>
  <li>
    Pokud vám instituce neodpověděla v zákonné lhůtě, můžete podat stížnost v tomto znění: „V zákonné lhůtě 15 dní (§ 14 odst. 5 písm. d) zákona č.106/1999 Sb.) mi informace nebyla poskytnuta. Tato lhůta pro poskytnutí informace nebyla řádně prodloužena, ani nebylo vydáno rozhodnutí o odmítnutí žádosti. Proto podávám ve smyslu §16a odst. 1 písm. b) zákona č. 106/1999 Sb. tuto stížnost. Stížnost je podána včas, při dodržení třiceti denní lhůty k jejímu podání (počítáno od marného uplynutí lhůty pro poskytnutí informací).“ Takovou stížnost můžete podat elektronicky přes stránky IPV, stačí vybrat pod vaším dotazem příslušnou možnost.
  </li>
</ul>
</dd>


<dt id="refusal">Co mám dělat, pokud instituce odmítla odpovědět?<a href="#refusal">#</a></dt>

<dd>
<ul>
  <li><strong>Rozhodnutí o odmítnutí</strong> na váš písemně vznesený (a to je i e-mailem) dotaz musí každá instituce dodat písemně. Odpověď musí obsahovat všechny náležitosti, udat z jakého důvodu vám informace neposkytla (podle konkrétních ustanovených zákonů s uvedením právního názoru) a uvést jméno odpovědného úředníka. Proti této odpovědi se můžete odvolat, a to opět písemně (tedy i e-mailem), naše stránky vám poskytnou návod jak postupovat.
  </li>
  <li>
  Pokud s rozhodnutím o odmítnutí nesouhlasíte, je třeba do 15 dnů podat odvolání a své odvolání krátce zdůvodnit.
  </li>
  <li>
  Pokud nám ani při odvolání instituce nevyhoví, je možné do 30 dní podat žalobu k soudu. Stanovené zákonné lhůty je třeba dodržet, jinak celý proces běží znovu. Pokud je váš případ složitější, přečtěte si také návody na stránkách <a href="http://www.otevrete.cz">www.otevrete.cz</a>.
  </li>
</ul>
</dd>



<dt id="unhappy">Co mám dělat, když nejsem s odpovědí spokojen/a?<a href="#unhappy">#</a></dt>

<dd>
<ul>
  <li>Pokud jsou informace nekompletní, můžete dalším dotazem požádat instituci o doplnění. Podejte <strong>Stížnost na postup při vyřizování žádosti o informace</strong> (§ 16a zákona č. 106/1999 Sb.) – informace poskytnuta částečně a ve zbytku nevydáno rozhodnutí o odmítnutí. Takovou stížnost můžete podat i přes naše stránky, stačí pod odpovědí na váš dotaz vybrat příslušnou možnost. Stížnost je třeba podat do 30 dní od data, kdy vám instituce odpověděla.
  </li>
  <li>
  Pokud jste nezískali informace, které jste požadovali a instituce neuvedla právoplatný důvod k jejich neposkytnutí (tj. je důvěrná), přečtěte si „Co mám dělat, pokud instituce odmítla odpovědět?“.
  </li>
  <li>
  Pokud vám instituce neodpověděla v zákonem dané lhůtě 15 dnů, přečtěte si „Jak rychle bude můj dotaz zodpovězen?“.
  </li>
</ul>
</dd>


<dt id="courts">Lze získat odpověď soudní cestou?<a href="#courts">#</a></dt>

<dd>
<ul>
  <li>Teoreticky ano. Žalobu můžete na správní soud, tedy na krajský soud, v jejichž obvodu má sídlo úřad jehož rozhodnutí jjste se rozhodli napadnout. Postupuje se podle zákona č. 150/2002 Sb., soudní řád správní (SŘS) a u tohoto soudu se můžete hájit sami nebo se nechat zastoupit advokátem anebo fyzickou osobou, která má způsobilost k právním úkonům v plném rozsahu. O kasační stížnosti (opravný prostředek proti rozhodnutí krajského soudu) rozhoduje Nejvyšší správní soud v Brně, tam je již povinné zastoupení advokátem. Pokud je váš případ složitější, přečtěte si také návody na stránkách <a href="www.otevrete.cz">www.otevrete.cz</a>.
  </li>
  <li>
  Žalobu je třeba podat do dvou měsíců od doručení rozhodnutí o neposkytnutí odpovědi dané instituce. Zmeškání lhůty v tomto případě nelze prominout.
  </li>
</ul>
</dd>




<dt id="publication">Má instituce právo mi zakázat další šíření informací, které jsem na základě svého dotazu získal/a?<a href="#publication">#</a></dt>

<dd>
<ul>
  <li>Instituce nemůže argumentovat tím, že danou informaci nelze poskytnout nikomu dalšímu, či můžete poskytnout jen určitou část či citovat jen určité části. Bylo by ale vhodné, abyste informace poskytovali dále v plném rozsahu to vám instituce zakázat nemůže a jedině tak můžete předejít nedorozumění.
  </li>
  <li>
  Každá instituce má pak povinnost zveřejnit poskytnuté informace na základě vznesených dotazů na svých webových stránkách. Svou povinnost splní také tím, že odpověď bude automaticky publikována na stránkách IPV.
  </li>
</ul>
</dd>




<dt id="personal_data">Mohu vznést dotaz na informace o určité osobě, na příklad o sobě samém?<a href="#personal_data">#</a></dt>

<dd>
<ul>
  <li>
    Nikoliv, to možné není. Vznesený dotaz se může týkat pouze veřejných informací a do této kategorie informace o soukromých osobách nespadají.
  </li>
  <li>
    Pokud budete chtít vznést dotaz týkající se vašich osobních informací, nepoužívejte k tomu stránek IPV.
  </li>
  <li>
    Při vznášení dotazu také dbejte na to, abyste neuváděli zbytečně podrobnosti, které k vyřízení dotazu nejsou nutné. Pamatujte, že dotazy vznesené přes stránky IPV jsou dostupné komukoliv, kdo si je bude chtít přečíst. Pokud máte pocit, že někdo takové informace (i nevědomky) o sobě uvádí v rámci vzneseného dotazu, upozorněte nás, administrátora těchto stránek.
  </li>
</ul>
</dd>



<dt id="hiding">Je možné, aby můj dotaz nebyl pro ostatní viditelný?<a href="#hiding">#</a></dt>

<dd>
<ul>
  <li>
    IPV je v současné době určen pouze pro veřejné dotazy. Všechny odpovědi, které jsme obdrželi, jsou publikovány podle zákona 106/199 Sb. ve znění pozdějších předpisů § 5 odst. 1, 2 a 3. Povinnost zveřejňovat další informace na webu však plyne také z § 18 a z dalších zákonů.
  </li>
  <li>
    Pokud nechcete, aby váš dotaz byl viditelný, obraťte se na danou instituci jinou cestou než přes stránky IPV.
    Zde je více informací o <a href="/help/privacy">Vašem soukromí</a> --&gt;
  </li>
</ul>
</dd>



<dt id="duplicates">Mohu vznést stejný dotaz na více institucí?<a href="#duplicates">#</a></dt>

<dd>
<ul>
  <li>To samozřejmě můžete, doporučujeme ale nejdříve dotaz vznést jen na některé a podle potřeby dotaz upřesnit. Stránky IPV umožňují odeslat vždy jen jeden dotaz na jednu instituci.
  </li>
</ul>
</dd>



<dt id="bodies">Jaké instituce jsou zveřejněny na stránkách IPV?<a href="#bodies">#</a></dt>

<dd>
<ul>
  <li>Stránky IPV vám umožní klást dotazy široké škále veřejných institucí, například ministerstev, soudů, státních zastupitelství, Policie ČR, katastrálních úřadů, hasičských sborů, zdravotních pojišťoven a krajských úřadů.
  </li>
  <li>
  Dále budeme stránky rozšiřovat o instituce či povinné subjekty, u kterých z nějakých důvodů není jasné, zda zákonu 106/1999 Sb. podléhají, ale my si myslíme, že by měli občanům odpovídat, protože hrají společensky významnou roli, kterou odpovědně naplní tím, že svou činnost budou schopni veřejně vysvětlit a obhájit.
  </li>
  <li>
  Tyto stránky si mimo jiné kladou za cíl rozšířit okruh institucí, které podléhají zákonu 106/1999 Sb. I instituce, které nemají zákonnou povinnost informace poskytovat mohou tak činit dobrovolně.
  </li>
</ul>
</dd>

<dt id="moderation">Pravidla pro vkládání komentářů na stránkách Informace pro všechny <a href="#moderation">#</a> </dt>

<dd>
<ul>
  <li>
  Komentáře slouží k vyjadřování vašich názorů k danému tématu, snažte se je proto sdělovat stručně a jasně.
</li>
<li>
  Buďte ve svém vyjadřování slušní a kultivovaní. Vyhněte se pomluvám a lžím. Jedině tak získáte plnohodnotnou odpověď.
</li>
<li>
  Komentáře neslouží k vyřizování si osobních sporů ani k napadání jednotlivců za jejich názory. Pokud máte pocit, že něčí názor je nesprávný, svůj komentář doložte fakty, nikoliv emocemi. Před odesláním si komentář jej znovu přečtěte s chladnou hlavou.
</li>
<li>
  Komentáře nesmí porušovat zákony České republiky. Pamatujte, že každý komentář se na stránkách IPV objeví pod vaším občanským jménem.
</li>
<li>
  Příspěvky, které nebudou respektovat tato pravidla, mohou být vymazány.
</li>
</ul>
<dd>


</dl>

<div id="hash_link_padding"></div>

</div>
