#navigation_search input#navigation_search_button {
background: image-url("search-button.png") no-repeat center center;
width: 30px;
height: 30px;
color: transparent;
font-size: 0;
margin: 0;
padding: 0;
border: 0;
box-shadow: none;
}

#navigation_search input#navigation_search_button {
 background: image-url("search-button.png") no-repeat center center;
}
